<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chen.sample1.web.dao.AuthRoleDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.chen.sample1.web.entity.AuthRole" >
        <result column="id" property="id" />
        <result column="name" property="name" />
        <result column="memo" property="memo" />
        <result column="create_time" property="createTime" />
        <result column="modify_time" property="modifyTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,name,memo,create_time,modify_time
    </sql>

    <!-- 通用查询条件列 -->
    <sql id="Base_Condition_List">
        <where>
            <if test="name != null  and name != ''">and name = #{name} </if>
            <if test="memo != null  and memo != ''">and memo = #{memo} </if>
        </where>
    </sql>

    <select id="findAll" parameterType="com.chen.sample1.web.entity.AuthRole" resultMap="BaseResultMap" >
        select
        <include refid="Base_Column_List"></include>
        from t_auth_role
        <include refid="Base_Condition_List"></include>
    </select>


</mapper>
